@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.dropdown-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.dropdown-label{
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.dropdown {
    font-family: "Instrument Sans", sans-serif;
    width: 250px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.dropdown:focus {
    outline: none;
    border-color: #2762a1;
    box-shadow: 0 0 0 2px rgba(79,140,255,0.2);
}