.dropdown-wrapper{
    display: flex;
    flex-direction: column;
}

.dropdown-label{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.dropdown {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.dropdown-focus {
    border-color: #2762a1;
}